<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Register</h1>
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="text-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <form action="/user/register" method="POST">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                
                <div>
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock">
                        
                        <label>Confirm Password:</label>
                        <input type="password" name="confirm_password" class="form-control" aria-describedby="passwordHelpBlock">

                    </div>
                    
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>

            <div class="col-1"></div>

            <div class="col-5">
                <h1>Login</h1>
                <form action="/user/login" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name= "email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>